.result {
    text-align: center;
    margin-top: 4rem;
}

.result__link {
    text-transform: capitalize;
    display: block;
    color: #003a70;
}

.result__img {
    max-width: 100%;
}

.pokemon__nfound {
    margin-top: 3rem;
    font-size: 2.5rem;
    text-align: center;
}