.search {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.search-wrap {
  position: relative;
  display: inline-block;
  width: 45rem;
}

.search__input {
  padding: 0.5rem 3.2rem 0.5rem 0.5rem;
  line-height: 2rem;
  width: 100%;
  height: 3.5rem;
  background-color: #dcecff;
}

.sp {
  width: 2rem;
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  height: 2rem;
  clear: both;
  border: 0.4rem rgba(0, 0, 0, 0.25) solid;
  border-top: 0.4rem black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot 0.6s infinite linear;
  animation: spCircRot 0.6s infinite linear;
}

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.search__button {
  margin-left: 2rem;
  padding: 0.7rem;
  background-color: #f7ddd5;
  cursor: pointer;
}

.search__button:hover {
  background-color: #ffa689;
}

.search__button--disabled, .search__button--disabled:hover {
  cursor: not-allowed;
  background-color: #f7ddd5;
}

.suggestions {
  width: 100%;
  border: solid .1rem;
  border-bottom: none;
  z-index: 1;
  margin-top: -0.1rem;
  position: absolute;
  background-color: #f5f4f4;
  border-radius: .3rem;
}

.suggestions__item {
  font-size: 1.6rem;
  border-bottom: solid .1rem;
  color: #3d7dca;
  cursor: pointer;
  padding-left: 0.5rem;
}

.suggestions__item:hover, .suggestions__item.active {
  background: #dcecff;
}
